<%= simple_form_for(@issue) do |f| %>
  <%= f.association :building, prompt: :translate, wrapper: :select %>
  <%= f.input :room %>
  <%= f.input :phone %>
  <div class="check_boxes">
    <%= f.association :tags, as: :check_boxes, class: 'xxx' %>
  </div>
  <%= f.input :description %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.button :submit %>
    </div>
    <div class="control">
      <%= link_to 'Назад', issues_path, class: 'button is-link' %>
    </div>
  </div>
<% end %>
