<%= render 'toolbar' %>

<table class="table is-fullwidth is-narrow is-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Статус
      </th>
      <th>
        Добавлена
      </th>
      <th>
        Общежитие
      </th>
      <th>
        Комната
      </th>
      <th>
        Задача
      </th>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <th>
          <%= issue.id %>
        </th>
        <td>
          <%= issue.status_name %>
        </td>
        <td>
          <%= l(issue.created_at) %>
        </td>
        <td>
          <%= issue.building %>
        </td>
        <td>
          <%= issue.room %>
        </td>
        <td>
          <%= link_to issue.description, issue,
                      class: 'has-text-black', title: 'Просмотреть задачу' %>
        </td>
        <td>
          <%= link_to issue, title: 'Просмотреть задачу' do %>
            <span class="icon is-medium">
              <i class="fa fa-lg fa-pencil-square-o"></i>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_issue_path(issue),
                      title: 'Редактировать текст задачи',
                      data: { confirm: 'Вы уверены? Может лучше оставить комментарий к задаче?' } do %>
            <span class="icon is-medium">
              <i class="fa fa-lg fa-wrench"></i>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
