<%= render 'toolbar' %>

<table class="table is-fullwidth is-narrow is-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Статус
      </th>
      <th>
        Добавлена
      </th>
      <th>
        Общежитие
      </th>
      <th>
        Комната
      </th>
      <th>
        Задача
      </th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <th>
          <%= issue.id %>
        </th>
        <td>
          <%= issue.status_name %>
        </td>
        <td>
          <%= l(issue.created_at) %>
        </td>
        <td>
          <%= issue.hostel %>
        </td>
        <td>
          <%= issue.room %>
        </td>
        <td>
          <%= link_to issue.description, issue, class: 'has-text-black' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
