<h1 class="title">
  Задача # <%= @issue.id %> от <%= l(@issue.created_at) %>
</h1>
<h2 class="subtitle is-5">
  <%= link_to @issue.token, issue_path(id: @issue.token) %>
</h2>

<div class="content">
  <p>
    <%= @issue.full_status_name %>
  </p>

  <% if can?(:manage, Issue) %>
    <address class="level">
      <div class="level-left">
        <div class="level-item">
          Общежитие «<%= @issue.building %>»,
          комната <%= @issue.room %>
        </div>
      </div>
      <% if @issue.phone.present? %>
        <div class="level-right">
          <div class="level-item">
            <%= link_to @issue.phone, "tel:#{@issue.phone}" %>
          </div>
        </div>
      <% end %>
    </address>
  <% end %>

  <blockquote>
    <%= @issue.description %>
  </blockquote>
</div>

<%= render 'switch_status' %>

<%= render 'comments' %>
