<%= simple_form_for resource, as: resource_name,
                              url: password_path(resource_name),
                              html: { method: :post } do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, required: true, autofocus: true %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.button :submit, 'Получить инструкцию для восстановления пароля' %>
    </div>
    <div class="control">
      <%= link_to 'Войти', new_session_path(resource_name), class: 'button is-link' %>
    </div>
  </div>
<% end %>
